{{! <div class="backdrop is-hidden" data-modal> }}
<div class='footer-test'>
  <div class='modal'>
    <button class='modal-button-cross' type='button' data-modal-close>
      <svg class='icon-cross' width='11' height='11'>
        <use href='./images/sprite.svg#icon-close-black-cross'></use>
      </svg>
    </button>

    <h2 class='modal__title'>
      TEAM:
      <br />
      "Add<span class='event'>Event</span>Listeners()"
    </h2>
    <ul class='team__list list'>
      <li class='team__item'>
        <img
          class='team__picture'
          src='./images/team/sasha.png'
          alt='Photo Alex'
          width='150'
          height='150'
        />
        <div class='team__data'>
          <h3 class='team__title'>
            Alexander
            <br />
            Kasian
          </h3>
          <p class='team__position'>
            Team
            <br />
            Lead
          </p>
          <div class='team__links'>
            <a href='https://www.instagram.com/?hl=ru' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-instagram'></use>
              </svg>
            </a>
            <a href='https://uk-ua.facebook.com/' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-facebook'></use>
              </svg>
            </a>
            <a href='https://ru.linkedin.com/' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-linkedin'></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class='team__item'>
        <img
          class='team__picture'
          src='./images/team/yulia.png'
          alt='Photo Yulia'
          width='150'
          height='150'
        />
        <div class='team__data'>
          <h3 class='team__title'>
            Yulia
            <br />
            Dobrova
          </h3>
          <p class='team__position'>
            Scrum
            <br />
            Master
          </p>
          <div class='team__links'>
            <a href='https://www.instagram.com/?hl=ru' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-instagram'></use>
              </svg>
            </a>
            <a href='https://uk-ua.facebook.com/' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-facebook'></use>
              </svg>
            </a>
            <a href='https://ru.linkedin.com/' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-linkedin'></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class='team__item'>
        <img
          class='team__picture'
          src='./images/team/tofik.png'
          alt='Photo Tofik'
          width='150'
          height='150'
        />
        <div class='team__data'>
          <h3 class='team__title'>
            Tofik
            <br />
            Hasanov
          </h3>
          <p class='team__position'>Full-Stack <br />Developer</p>
          <div class='team__links'>
            <a href='https://www.instagram.com/?hl=ru' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-instagram'></use>
              </svg>
            </a>
            <a href='https://uk-ua.facebook.com/' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-facebook'></use>
              </svg>
            </a>
            <a href='https://ru.linkedin.com/' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-linkedin'></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class='team__item'>
        <img
          class='team__picture'
          src='./images/team/ira.png'
          alt='Photo Irina'
          width='150'
          height='150'
        />
        <div class='team__data'>
          <h3 class='team__title'>
            Iryna
            <br />
            Kolesnyk
          </h3>
          <p class='team__position'>
            Full-Stack
            <br />
            Developer
          </p>
          <div class='team__links'>
            <a href='https://www.instagram.com/?hl=ru' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-instagram'></use>
              </svg>
            </a>
            <a href='https://uk-ua.facebook.com/' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-facebook'></use>
              </svg>
            </a>
            <a href='https://ru.linkedin.com/' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-linkedin'></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class='team__item'>
        <img
          class='team__picture'
          src='./images/team/sereja.png'
          alt='Photo Sergiy'
          width='150'
          height='150'
        />
        <div class='team__data'>
          <h3 class='team__title'>
            Sergiy
            <br />
            Bylinin
          </h3>
          <p class='team__position'>
            Full-Stack
            <br />
            Developer
          </p>
          <div class='team__links'>
            <a href='https://www.instagram.com/?hl=ru' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-instagram'></use>
              </svg>
            </a>
            <a href='https://uk-ua.facebook.com/' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-facebook'></use>
              </svg>
            </a>
            <a href='https://ru.linkedin.com/' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-linkedin'></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class='team__item'>
        <img
          class='team__picture'
          src='./images/team/natasha.png'
          alt='Photo Natalia'
          width='150'
          height='150'
        />
        <div class='team__data'>
          <h3 class='team__title'>
            Natalia
            <br />
            Polovynko
          </h3>
          <p class='team__position'>
            Full-Stack
            <br />
            Developer
          </p>
          <div class='team__links'>
            <a href='https://www.instagram.com/?hl=ru' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-instagram'></use>
              </svg>
            </a>
            <a href='https://uk-ua.facebook.com/' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-facebook'></use>
              </svg>
            </a>
            <a href='https://ru.linkedin.com/' class='social-list__link link'>
              <svg class='social-list__icon' width='20' height='20'>
                <use href='./images/sprite.svg#icon-linkedin'></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>