$basic-text-color: #ffffff;
$secondary-text-color: #0e0e0e;
$further-text-color: #939393;
$accent-color: rgba(220, 86, 197, 1);
$modal-accent-color: #4c00fe;
$modal-overlay-color: rgba(32, 13, 29, 0.6);
$form-bg-color: rgba(255, 255, 255, 0.2);
$header-bg-color: rgba(11, 11, 11, 0.5);
$modal-bg-color: #fff2fd;
$rectangle-color: rgba(220, 86, 197, 0.3);
$gallery-hover-color: rgb(115, 32, 122);
$info-text-color: #000000;
$tui-pagination:#333;
$tui-pagination-page-color:#4b96e6;
$pop-up-color:#415665;
$pop-up-arge-color:#3dd28d;
$pop-up-arge-hover-color:#35af76;
$pop-up-arge-decline-color:#d23d3d;
$pop-up-arge-decline-hover-color:#af3030;