<section class="container gallery">
  <ul class="list gallery-overlay" id="gallery-js"></ul>
</section>
<div class="container js-lightbox">
  <h2 class="visually-hidden">More information</h2>
  <div class="js-container">
    <div class="lightbox-card"></div>
    <button type="button" class="button button-more-info" data-action="more-info">
      MORE FROM THIS AUTHOR
    </button>

    <button type="button" class="btn button-close" data-action="close-modal">
      <svg width="17px" height="17px" aria-label="Закрытие">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
