<header class="header">
    <div class="container">
        <a href="./index.html" class="logo">
            <img src="" alt="logo">
        </a>
        
        <h1 class="header-title">FIND BEST EVENTS AROUND THE WORLD</h1>
        
        <div class="header-search">
            <form action="">
                <input type="text" placeholder="Start searching">
            </form>
            <div>
                <p>Choose country</p>
                <button type="button">></button>
            </div>
        </div>
    </div>
</header>