<header class="header">
    <div class="container">
        
        <div class="logo-header">
            <picture>
                <source srcset="./images/logo/logo-mobile.png" media="(min-width: 480px)">
                <source srcset="./images/logo/logo-tablet.png" media="(min-width: 768px)">
                <source srcset="./images/logo/logo-desktop.png" media="(min-width: 1280px)">
                <img src="./images/logo/logo-mobile.png" alt="logo">
            </picture>
        </div>
        
        <h1 class="header-title">FIND BEST EVENTS AROUND THE WORLD</h1>
        
        <div class="header-search">
            <div class="form-search-keyword">
                <input class="form-search-keyword_input" type="text" placeholder="Start searching">
            </div>
            <div class="header-src-country">
                <p class="header-src-country_placeholder">Choose country</p>
                <button class="btn-selection-countries" type="button">
                    <svg aria-label="переключатель выпадающего меню" width="24" height="16">
                        <use class="header-triangle-icon" href="./images/sprite.svg#icon-triangle"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>