<header class="header">
    <div class="container header-container">  
        <div class="logo-header wow tada">
            <a href="./">
                <picture>
                    <source srcset="./images/logo/logo-desktop.png" media="(min-width: 1280px)">
                    <source srcset="./images/logo/logo-tablet.png" media="(min-width: 768px)">
                    <source srcset="./images/logo/logo-mobile.png" media="(max-width: 767px)">
                    <img src="./images/logo/logo-mobile.png" alt="logo">
                </picture>
            </a>
        </div>
        
        <h1 class="header-title wow zoomInUp">FIND BEST EVENTS AROUND THE WORLD</h1>
        <div class="header-search">
            <form class="form-search-keyword" id="formSearch-js" name="formSearc">
                <input class="form-search-keyword_input" type="text" placeholder="Start searching" name="formSearc" autocomplete="off">
                <button class="btn-search-keyword" type="submit" id="btnSearch-js">
                    <svg class="header-loupe-icone" aria-label="magnifying glass" width="12" height="12">
                        <use href="./images/sprite.svg#icon-search"></use>
                    </svg>
                </button>   
            </form>

            <div class="header-src-country" id="src-country-js">
                <div class="header-src-country_content">
                    <p class="header-src-country_placeholder" id="dropdownPlaceholder-js">Choose country</p>
                    <button class="btn-selection-countries" type="button" id="dropdownBtn">
                        <svg aria-label="dropdown toggle" width="13" height="8">
                            <use class="header-triangle-icon" href="./images/sprite.svg#icon-triangle"></use>
                        </svg>
                    </button>
                </div>
                <ul class="dropdown-menu-list is-hidden list" id="dropdown-js"></ul>
            </div>
        </div>
    </div>
</header>