.modal-students {
  position: relative;
  margin: auto;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  padding: 10px;
  height: 700px;
  width: 310px;
  background-color: $secondary-text-color;
  color: $basic-text-color;
  overflow-y: scroll;
  height: 100vh;
  border: 1px solid $accent-color;

  @media screen and (min-width: 768px) {
    height: 650px;
    width: 700px;
    overflow: initial;
  }

  @media screen and (min-width: 1280px) {
    width: 1200px;
    height: 400px;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
  }
}

.modal-button-cross {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-bottom: 40px;
  color: $accent-color;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid hsl(258, 100%, 49%, 0.2);
  cursor: pointer;
  box-sizing: border-box;
  &:hover,
  &:focus {
    color: $modal-accent-color;
  }
}

.modal__title {
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.15em;
  margin-top: 7px;
  margin-bottom: 7px;
  text-shadow: -1px -1px 1px $accent-color;
  &:hover,
  &:focus {
    color: $modal-accent-color;
    text-shadow: -1px -1px 1px $accent-color;
  }
  @media screen and (min-width: 768px) {
    margin: 10px;
    margin-bottom: 15px;
  }
}

.event {
  color: $modal-accent-color;
  text-shadow: -1px -2px 2px $accent-color;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
  margin-left: -10px;
  @media screen and (min-width: 1280px) {
    margin-top: -20px;
    margin-left: -20px;
  }
}

.team__item {
  margin-top: 10px;
  margin-left: 10px;
  flex-basis: calc((100% / 2) - 10px);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% / 3) - 10px);
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% / 6) - 20px);
    margin-top: 20px;
    margin-left: 20px;
  }
}

.team__picture {
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  animation: frame-shine 1750ms linear 100ms infinite;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    width: 130px;
    height: 130px;
  }

  @media screen and (min-width: 1280px) {
    width: 150px;
    height: 150px;
  }
}

@keyframes frame-shine {
  0% {
    text-shadow: none;
  }
  50% {
    box-shadow: 2px 0px 10px 3px $accent-color;
  }
  100% {
    text-shadow: none;
  }
}

.team__title {
  font-size: 16px;
  text-align: center;
  margin: 5px;
  margin-top: 7px;
  color: $accent-color;
  text-shadow: -1px -2px 2px $secondary-text-color;
  @media screen and (min-width: 768px) {
    margin: 10px;
    margin-bottom: 15px;
    font-size: 18px;
  }
}

.team__data {
  justify-content: space-between;
  font-size: 14px;
}

.team__position {
  text-align: center;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 12px;
  color: $basic-text-color;
  @media screen and (min-width: 768px) {
    margin-bottom: 5px;
    font-size: 16px;
  }
}

.team__links {
  position: relative;
  padding: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: $accent-color;
}

.team__links-item:not(:last-child) {
  margin-right: 7px;
}
