:root {
  --animation-duration: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-function: 250ms;
}
.modal-open {
  overflow: hidden;
}

.modal-gallery {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    width: 595px;
    margin: 0px auto;
  }
}
.poster-img {
  @media screen and (min-width: 768px) {
    display: block;
    margin-right: 30px;
    margin-bottom: 178px;
  }
}

.lightbox {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  overflow-y: scroll;

  opacity: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  transform: scale(0.95);

  background: $modal-overlay-color;
  backdrop-filter: blur(3px);
  transition: all var(--timing-function) var(--animation-duration);

  &.is-open {
    opacity: 1;
    pointer-events: initial;
  }
  @media screen and (min-width: 768px) {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
    padding-top: 180px;
  }
  @media screen and (min-width: 1280px) {
    overflow: hidden;
  }
}
.lightbox__content {
  position: relative;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 12px;
  padding-right: 16px;
  margin-bottom: 100px;
  background-color: $modal-bg-color;
  border-radius: 150px 0px;

  transition: transform var(--timing-function) var(--animation-duration);

  @media screen and (min-width: 768px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 650px;

    padding-top: 28px;
    padding-bottom: 56px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
    width: 950px;
  }
}

.modal-img-gallery {
  display: block;
  margin-bottom: 18px;
  margin-right: auto;
  margin-left: auto;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    width: 70px;
    height: 70px;
  }
}
.modal-img {
  display: none;
}
@media screen and (min-width: 768px) {
  .modal-img {
    display: block;
    width: 233px;
    height: 416px;
    object-fit: cover;
  }
}

.modal-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    justify-content: space-between;
  }
}
.info-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: $accent-color;
  margin-bottom: 5px;
}
.info-text {
  display: block;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
  color: #000000;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.code {
  display: inline-block;
  width: 24px;
  height: 16px;
  padding: 0;
  margin-right: 13px;
  fill: currentColor;
}

.btn-buy-ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 145px;
  height: 40px;
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  background: $modal-accent-color;
  border-radius: 5px;
}
.button-more-info {
  display: block;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $modal-accent-color;
  box-sizing: border-box;
  border-radius: 5px;
  color: $modal-accent-color;
  background-color: rgba(211, 154, 154, 0);
  box-shadow: none;
  transition: all var(--timing-function) var(--animation-duration);
}
.lightbox__button {
  position: absolute;
  top: 20px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: $modal-bg-color;

  fill: $modal-accent-color;

  @media screen and (min-width: 768px) {
    top: 10px;
    right: 80px;
  }

  @media screen and (min-width: 1280px) {
    top: 50px;
    right: 380px;
  }
}
