.modal-img {
  display: none;
}

.lightbox {
  position: fixed;
  z-index: 200;
  width: 100vw;
  height: 100vh;

  &.is-open {
    opacity: 1;
    pointer-events: initial;
  }
}

.lightbox {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 25px;

  pointer-events: none;

  background: $modal-overlay-color;
  backdrop-filter: blur(3px);

  opacity: 0;
  overflow-y: scroll;

  transition: 300ms;

  @media screen and (min-width: 1280px) {
    padding-top: 200px;
  }
}

.modal-open {
  overflow: hidden;
}

.lightbox__content {
  flex-direction: column;
  position: relative;
  margin-bottom: 100px;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 12px;
  padding-right: 16px;
  background-color: $secondary-text-color;
  border-radius: 150px 0px;

  border: 1px solid $accent-color;
  transition: 300ms;

  @media screen and (min-width: 768px) {
    top: 50%;
    left: 50%;
    width: 595px;
    min-height: 50vh;
    padding-top: 28px;
    padding-bottom: 56px;
    padding-left: 50px;

    border-radius: 300px 0px;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 1280px) {
    width: 930px;
    padding-top: 62px;
    padding-bottom: 56px;
  }
}

.modal-img-gallery {
  display: block;
  width: 102px;
  height: 102px;
  margin-bottom: 18px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 50%;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    width: 70px;
    height: 70px;
    margin-bottom: 43px;
  }
  @media screen and (min-width: 1280px) {
    width: 132px;
    height: 132px;
    margin-bottom: 40px;
  }
}

.modal-gallery {
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 43px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    margin-bottom: 45px;
  }
}

.poster-img {
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .modal-img {
    display: block;
    width: 233px;
    height: 416px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1280px) {
  .modal-img {
    width: 360px;
    height: 641px;
  }
}

.modal-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    padding-left: 0;
    width: 100%;
  }
}

.info-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  color: $accent-color;
  margin-bottom: 5px;

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 7px;
  }
}

.info-text {
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;

  color: $basic-text-color;
  svg {
    stroke: $basic-text-color;
  }

  @media screen and (min-width: 768px) {
    text-align: start;
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}
.price-text {
  padding-top: 10px;
}

.code {
  display: inline-block;
  width: 24px;
  height: 16px;
  margin-right: 13px;
  padding: 0;

  fill: currentColor;
}

.btn-buy-ticket {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 145px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: $basic-text-color;
  background: $modal-accent-color;
  border-radius: 5px;
  transition: 300ms;
  cursor: pointer;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.2;
  }
}
.btn-buy-ticket:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 18px 0px $gallery-hover-color;
}

.button-more-info {
  display: block;
  width: 230px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $modal-accent-color;

  border-radius: 5px;
  color: $modal-accent-color;
  background-color: $modal-bg-color;
  box-shadow: none;
  transition: 300ms;

  cursor: pointer;
}
.button-more-info:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 18px 0px $gallery-hover-color;
}

.lightbox__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 10px;
  width: 50px;
  height: 50px;

  border: none;
  border-radius: 50%;
  background-color: $secondary-text-color;
  font-size: 25px;
  cursor: pointer;
  color: $modal-accent-color;

  @media screen and (min-width: 768px) {
    top: 10px;
    font-size: 30px;
  }

  @media screen and (min-width: 1280px) {
    top: 15px;
    font-size: 40px;
  }
}

