.popUp-notify {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 4%;
  background: $pop-up-color;
  height: 200px;
  width: 400px;
  border-radius: 15px;
  padding: 20px;
  font-size: 22px;
  color: $basic-text-color;
  @media screen and (max-width: 767px) {
    text-align: center;
    height: 400px;
    width: 200px;
  }
  @media screen and (min-width: 768px) {
    text-align: center;
    height: 230px;
  }
}
.text {
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
  }
}
.material-icons.info {
  text-align: center;
  width: 50px;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
}
.popUp-btn {
  font-size: 18px;
  margin-top: 30px;
  box-shadow: 1px solid $info-text-color;
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
}
.popUp-agree {
  margin-left: 15px;
  border: 1px solid $pop-up-arge-color;
  background-color: $pop-up-arge-color;
  @media screen and (max-width: 767px) {
    margin-left: 0;
    width: 125px;
  }
}

.popUp-agree:hover {
  background-color: $pop-up-arge-hover-color;
  border: 1px solid $pop-up-arge-hover-color;
}
.popUp-decline {
  border: 1px solid $pop-up-arge-decline-color;
  background-color: $pop-up-arge-decline-color;
}
.popUp-decline:hover {
  border: 1px solid $pop-up-arge-decline-hover-color;
  background-color: $pop-up-arge-decline-hover-color;
}
