.center {
  position: fixed;
  top: 265px;
  left: 30%;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;

  @media screen and (min-width: 768px) {
    top: 209px;
    left: 40%;
  }

  @media screen and (min-width: 1280px) {
    top: 295px;
    left: 45%;
  }
}
.wave {
  width: 5px;
  height: 30px;
  background: linear-gradient(45deg, $preload-first-color, $preload-second-color);
  margin: 5px;
  animation: wave 1s linear infinite;
  border-radius: 20px;

  @media screen and (min-width: 768px) {
    height: 50px;
  }

  @media screen and (min-width: 1280px) {
    margin: 10px;
    height: 50px;
  }
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
}
