body.light-theme {
  background-image: url(../images/change-theme/picmobile@1x.png);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/change-theme/picmobile@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/change-theme/pictablet@1x.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/change-theme/pictablet@2x.png);
    }

    @media screen and (min-width: 1280px) {
      background-image: url(../images/change-theme/picdesktop@1x.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/change-theme/picdesktop@2x.png);
      }
    }
  }
}
//modal events
.lightbox.light-theme {
  .lightbox__content {
    background-color: $modal-bg-color;
  }
  .info-title {
    color: $accent-color;
  }
  .info-text {
    color: $secondary-text-color;
    svg {
      stroke: none;
    }
  }
  .lightbox__button{
    background-color: $modal-bg-color;
  }
}

//modal studens
.basicLightbox.light-theme {
  .modal-students {
    background-color: $modal-bg-color;
    color: $secondary-text-color;
  }
  .team__position {
    color: $secondary-text-color;
  }
}
// gallery

.gallery-overlay.light-theme {
  .card {
    &__date {
      color: $secondary-text-color;
    }
    &__adress {
      color: $secondary-text-color;
    }
  }
  .material-icons.white600 {
    color: $info-text-color;
  }
}

//pagination
.tui-pagination.light-theme .tui-page-btn {
  color: $secondary-text-color;
  background-color: $basic-text-color;
  font-weight: 700;
}

.tui-pagination.light-theme .tui-page-btn:hover {
  color: $accent-color;
  border: 2px solid $accent-color;
  border-radius: 10px 0px;
}

.tui-pagination.light-theme .tui-ico-prev {
  background-position: -26px 0px;
}

.tui-pagination.light-theme .tui-ico-first {
  background-position: 0px 0px;
}

.tui-pagination.light-theme .tui-ico-next {
  background-position: -13px -24px;
}

.tui-pagination.light-theme .tui-ico-last {
  background-position: 0px -12px;
}

.tui-pagination.light-theme .tui-is-disabled .tui-ico-prev {
  background-position: -26px -12px;
}

.tui-pagination.light-theme .tui-is-disabled .tui-ico-first {
  background-position: -13px 0px;
}

.tui-pagination.light-theme .tui-is-disabled .tui-ico-next {
  background-position: -21px -24px;
}

//footer
.footer__container.light-theme {
  .footer__text {
    color: $secondary-text-color;
  }

}

.tui-pagination.light-theme .tui-is-disabled .tui-ico-last {
  background-position: -13px -12px;
}

//input
.header-container.light-theme {
  .header-title {
    color: $basic-text-color;
  }
  .form-search-keyword_input {
    background-color: $header-bg-color;
    &::placeholder {
      color: $basic-text-color;
    }
  }

  .header-loupe-icone {
    fill: $basic-text-color;
  }
  .header-src-country {
    background-color: $header-bg-color;
  }
  .header-src-country_placeholder {
    color: $basic-text-color;
  }
  .dropdown-menu-text {
    color: $basic-text-color;
  }
  .header-triangle-icon {
    fill: $basic-text-color;
  }
}

.toolbar {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
}

/* THEME SWITCH */
.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__icon {
  color: $accent-color;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: $switch-trak-color;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: $basic-text-color;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px $switch-marker-color;
  transform: translateX(3px);
  transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: $togle-color;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(35px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px $togle-active-color;
}

.is-hidden {
  display: none;
}
