.gallery-overlay {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    justify-content: space-evenly;
    margin-left: -9px;
    margin-top: -58px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: -63px;
    padding-bottom: 190px;
  }
}

.card {
  position: relative;
  display: block;
  flex-basis: calc((100% - 28px) / 2);
  margin-top: 42px;
  text-align: center;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 84px) / 3);
    margin-top: 58px;
  }
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 142px) / 4);
    margin-top: 63px;
  }

  &::before {
    content: '';
    position: absolute;
    cursor: pointer;
    left: -37%;
    top: -10px;
    width: 120px;
    height: 106px;
    transform: translateX(50%);
    border: 1px solid $rectangle-color;
    border-radius: 50px 0px;

    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
      left: -48%;
      top: -14px;
      width: 180px;
      height: 177px;
    }
    @media screen and (min-width: 1280px) {
      left: -11%;
    }
  }

  &__title {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: $accent-color;
  }

  &__date {
    margin-bottom: 5px;
    color: $basic-text-color;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }

  &__adress {
    color: $basic-text-color;
    font-weight: 600;
    font-size: 14px;
  }
}

.link.card__adress {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 1;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.material-icons.white600 {
  color: $basic-text-color;
}

.card__img {
  display: inline-block;
  height: 161px;
  margin-bottom: 5px;
  max-width: 100%;
  border-radius: 50px 0px;
  object-fit: cover;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 450ms cubic-bezier(0.215, 0.61, 0.355, 1);
  @media screen and (min-width: 768px) {
    height: 227px;
    width: 196px;
  }
}

.card__img:hover {
  transform: rotate(2deg);
  box-shadow: 10px 2px 27px 6px $gallery-hover-color;
}

.little-line {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 1;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
