.header {
  padding-top: 78px;
  padding-bottom: 52px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 183px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 192px;
  }
}

.logo-header {
  position: absolute;
  top: 0;
  left: 0;
}

.header-title {
  display: block;

  max-width: 212px;
  margin: 0 auto 25px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;

  color: #dc56c5;

  @media screen and (min-width: 768px) {
    min-width: 353px;
    margin-bottom: 27px;

    font-size: 30px;
    line-height: 1.23;
  }

  @media screen and (min-width: 1280px) {
    min-width: 589px;
    margin-bottom: 52px;

    font-size: 50px;
    line-height: 1.22;
  }
}

// search

.header-search {
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

//search by keyword

.form-search-keyword {
  position: relative;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.form-search-keyword_input {
  min-width: 270px;
  padding: 10px 30px;

  background-color: $form-bg-color;
  backdrop-filter: blur(20px);

  font-size: 16px;
  line-height: 1.25;
  color: #cccccc;

  border-radius: 20px;

  outline: none;
  border: none;

  &::placeholder {
    font-family: 'Montserrat';
    color: $further-text-color;
    font-size: 16px;
    line-height: 1.25;
  }
}

.header-loupe-icone {
  position: absolute;
  top: 14px;
  right: 35px;
  //   fill: $further-text-color;
  fill: tomato;
  &:hover,
  &:focus {
    fill: $modal-accent-color;
  }

  @media screen and (min-width: 768px) {
    right: 30px;
  }
}

// Selection of countries

.header-src-country {
  min-width: 270px;
  display: inline-block;
  padding: 10px 30px;

  background-color: $form-bg-color;
  backdrop-filter: blur(20px);

  border-radius: 20px;
}

.header-src-country_content {
  display: flex;
  justify-content: space-between;
}

.header-src-country_placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: $further-text-color;
}

// button selection of countries

.btn-selection-countries {
  padding: 2px;
  border: none;
  background-color: transparent;
}

.header-triangle-icon {
  fill: $further-text-color;

  transition: transform 250ms linear;
  .btn-selection-countries:hover &,
  .btn-selection-countries:focus & {
    fill: $modal-accent-color;
    transform: rotateZ(-180deg);
    transform-origin: center center;
  }
}

.dropdown-menu-list {
  display: none;
}
